<nav class="nav" style="display: flex; align-items: center; justify-content: space-between;">
  <div class="nav-brand">
    <a href="/">
      <img src="/assets/img/logo.png" alt="Energy Trends Australia logo" style="height: 40px; padding-top: 4px;" />
    </a>
  </div>

  <ul style="display: flex; gap: 1rem;">
    {% unless page.url == "/" %}
      <li><a href="/">Home</a></li>
    {% endunless %}
    {% unless page.url == "/estimate.html" %}
      <li><a href="/estimate.html">Estimate</a></li>
    {% endunless %}
    {% unless page.url == "/pulse.html" %}
      <li><a href="/pulse.html">Pulse</a></li>
    {% endunless %}
    {% unless page.url == "/faq.html" %}
      <li><a href="/faq.html">FAQs</a></li>
    {% endunless %}
    {% unless page.url == "/legals.html" %}
      <li><a href="/legals.html">Legals</a></li>
    {% endunless %}
    {% unless page.url == "/contact.html" %}
      <li><a href="/contact.html">Contact</a></li>
    {% endunless %}
  </ul>
</nav>
